*{
    font-family:'Courier New', Courier, monospace;
}

.heading{
    text-align: center;
}

.items{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 52px;
}

img{
    height: 200px;
    width: auto;
}